.left-side-content
  .left-side-head
  .left-side-inner
  .left-side-footer

.left-side-content
  .left-side-head
  .left-side-inner
  .left-side-footer

.left-side-content
  .left-side-head
  .left-side-inner
  .left-side-footer